<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Javascript小遊戲-貪吃蛇</title>

    <!-- CSS only -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"/>
    <link rel="stylesheet" href="./css/style.css">
</head>

<body>
    <div id="app" v-cloak>
        <div class="start" v-if="status == 'start'">
            <div class="d-flex justify-content-center align-items-center h-100">
                <div class="text-center">
                    <h1>SNAAAAAAKE</h1>
                    <p v-if="media=='pc'">PRESS [<span class="bang">START</span>] TO START</p>
                    <p v-if="media=='mobile'">PRESS [<span class="bang" @click="start(32)">HERE</span>] TO START</p>
                </div>
            </div>
        </div>
        <div class="play" v-if="status == 'play-before' || status =='play'">
            <div class="touch-block" v-if="media=='mobile'">
                <div class="up" :class="{ 'red-border': status=='play-before' }" @click="keycodeControl('up')">
                    <div class="arrow" v-show="status=='play-before'"></div>
                </div>
                <div class="left" :class="{ 'red-border': status=='play-before' }"  @click="keycodeControl('left')">
                    <div class="arrow" v-show="status=='play-before'"></div>
                </div>
                <div class="right" :class="{ 'red-border': status=='play-before' }"  @click="keycodeControl('right')">
                    <div class="arrow" v-show="status=='play-before'"></div>
                </div>
                <div class="bottom" :class="{ 'red-border': status=='play-before' }"  @click="keycodeControl('bottom')">
                    <div class="arrow" v-show="status=='play-before'"></div>
                </div>
            </div>
            <div class="d-flex justify-content-center align-items-center h-100">
                <div class="board">
                    <div class="row no-gutters" v-for="i in height" :key="i">
                        <div class="box" v-for="j in width" :key="j">
                            <div></div>
                        </div>
                    </div>

                    <div class="words lt">
                        SNAA
                    </div>
                    <div class="words tl">
                        AAAAKE
                    </div>
                    <div class="words rb">
                        SNAA
                    </div>
                    <div class="words br">
                        AAAAKE
                    </div>
                    <div class="best">
                        best
                        <span> {{bestScore}} </span>
                    </div>
                    <div class="score">
                        score
                        <span> {{score}} </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="end" v-if="status == 'end'">
            <div class="d-flex justify-content-center align-items-center h-100">
                <div class="text-center">
                    <h1>GAME OVER</h1>
                    <div class="d-flex align-items-center my-3" style="justify-content: space-between;">
                        <div>
                            score
                            <p style="font-size: 36px;"> {{score}} </p>
                        </div>
                        <div style="font-size: 36px;">
                            /
                        </div>
                        <div>
                            best
                            <p style="font-size: 36px;"> {{bestScore}} </p>
                        </div>
                    </div>
                    <span class="p-2" style="font-size: 28px; color: #000; background-color: #fff;">RESTART?</span>
                    <div class="d-flex align-items-center mt-5" style="justify-content: space-between; color: #00FFE2; font-size: 22px;">
                        <div>
                            YES[Y]
                        </div>
                        <div>
                            NO[N]
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <!-- JS, Popper.js, and jQuery -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js">
    </script>
    <!-- development version, includes helpful console warnings -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="./js/all.js"></script>


</body>

</html>